
.usama{
    width: 50px;
    height: 20px;
    background-color: rgb(13, 202, 139);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input {
    margin-bottom: 10px;
    display: block;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

td {
    padding: 5px;
}