body{
    margin: 0;
    padding: 0;
    background-color:  rgba(41, 103, 105, 0.795);
}
.container{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}
.container >h1{
    text-align: center;
}
#todo_form{
    display: flex;
    border: 2px solid rgb(42, 186, 230);
    border-radius: 5px;
}
#todo_form >input{
    outline: none;
    padding: 10px 30px;
    border: none;
}
#todo_form >input::placeholder{
    font-size: 18px;
}

#todo_form >button{
    background-color: rgba(0, 38, 255, 0.973);
    outline: none;
    border: none;
    color: white;
    padding: 0px 16px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 18px;
}
